.pop-up__container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 430px;
  min-height: 330px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  .pop-up__container {
    padding: 25px;
    min-height: 330px;
  }
}

@media screen and (max-width: 550px) {
  .pop-up__container {
    min-width: 280px;
  }
}
